
body {
    background-color: #174720;
    margin: 20px 0;
}
h1 {
    text-align: center;
    font-family: arial;
    font-size: 37;
}
div.white_box {
   background-color: white;
   display: inline-block;
   padding: 0px 10px;
}

h3 {
    margin: 4px;
}
.list_of_resources {
    text-align: center;
    background_color: blue;
}


.resource_text {
    font-size: 38px;
    width: 100px;
    text-align: left;
    display: inline-block;
    margin: 10px;
}